h1 {
    color: goldenrod;
    font-size: 50px;
    justify-self: center;
    margin-top: 30px;
}
h2 {
    margin-bottom: 40px;
    justify-self: center;
    font-style: italic;
    text-decoration: underline;
    color: rgba(0, 255, 255, 0.301);
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}
body {
    margin: 0px;
    min-height: 100vh;
    display: flow-root;
}
p {
    color: white;
    font-size: 28px;
    justify-self: center;
    margin: 20px 0px ;
    font-weight: bolder;
    font-style: italic;
}
.but {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.but button {
    margin-top:20px ;
    justify-self: center;
    border-radius: 8px;
    height: 90px;
    width: 300px;
    color: #016f32;
    border-color: goldenrod;
    font-size: 32px;
    font-weight: bold;
    background-color: goldenrod;
    font-family: cursive;
}
a {
    color: rgb(200, 71, 252);
    position: absolute;
    bottom: 10px;
    left: 20px;
}
#but0 {
    display: none;
}
#ziro {
    background-color: rgb(194, 204, 138);

}